#twoLenShip {
  border-radius: 20%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(187, 6, 6);
  width: 70px;
  height: 35px;
}

#threeLenShip {
  border-radius: 20%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(121, 39, 214);
  width: 105px;
  height: 35px;
}
#fourLenShip {
  border-radius: 20%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(52, 192, 39);
  width: 140px;
  height: 35px;
}

#fiveLenShip {
  border-radius: 20%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(154, 184, 23);
  width: 175px;
  height: 35px;
}
